* {
  margin: 0;
  padding: 0;
  font-size: "Poppins" sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #153448;
}
.container {
  width: 400px;
  padding: 25px 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #3c5b6f;
  border-radius: 10px;
}
.container p {
  font-weight: 600;
  font-size: 1.5rem;
}
.container input {
  width: 100%;
  border-color: black;
  padding: 1rem;
  margin: 10px 0 10px;
  outline: 0;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 600;
}
.container button {
  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #153448;
  color: aliceblue;
  border: none;
  outline: 0;
  box-shadow: 0px 5px 10px rgb(60, 91, 111);
  font-weight: 700;
  font-size: 1.3rem;
}

#imgBox {
  width: 200px;
  border-radius: 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s;
}
#imgBox img {
  width: 100%;
  padding: 10px;
}
#imgBox.show-img {
  max-height: 300px;
  margin: 20px auto;
  border: 1px solid #153448;
}

.error {
  animation: shake 0.1s linear 10;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

/* For screens up to 600px*/
@media (max-width: 600px) {
  .container {
    width: 90%;
    max-width: 400px;
  }
  .container p {
    font-size: 1.2rem;
  }
  .container input {
    font-size: 1rem;
    padding: 0.8rem;
  }
  .container button {
    font-size: 1.2rem;
    padding: 0.8rem;
    margin-top: 10px;
  }
  #imgBox.show-img {
    max-height: 200px;
  }
}
